<!-- <div class="container text-center bg-dark text-white py-1 px-2">
  <h2 classs="m-2 text-wrap">Stylish Yet Basic Calculator</h2>
</div> -->

<!-- <div class="vh-100 border border-success"> -->
  <router-outlet></router-outlet>
<!-- </div> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/sm-calculator" routerLinkActive="active">Calculator</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->